app = "5ml-core-hk"  # 這個要跟你在 Fly 建 app 時的名字一致

primary_region = "hkg"

[build]
  # 用 Dockerfile 的話可以寫 builder，暫時讓 Fly 自己偵測 Node app

[env]
  PORT = "8080"

[[services]]
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
